<header>
  <nav>
    <a rel="noopener" routerLink="/home" routerLinkActive="active">
      <span>Home</span>
    </a>
    &nbsp;
    <a
      rel="noopener"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>Robos</span>
    </a>
    &nbsp;
    <a
      rel="noopener"
      routerLink="/temperature-converter"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>Temperature converter</span>
    </a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>

<!-- Reference: https://stackoverflow.com/questions/39181539/why-angular2-routerlinkactive-sets-active-class-to-multiple-links -->
